body {
  padding: 35px;
}
.nav {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img1 {
  width: 80px;
  height: 80px;
}
.study {
  background-color: #8667f2;
  border: none;
  border-radius: 24px;
  height: 40px;
  width: 150px;
  color: white;
}

.login {
  background-color: transparent;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 24px;
  margin-right: 30px;
}

.study-login button {
  font-size: 15px;
  font-weight: bold;
}

.a {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 80px;
}

.a1 {
  display: flex;
  gap: 15px;
}

.a1 select,
button,
.a2 input {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid gray;
  background-color: white;
}

.a1 button {
  width: 190px;
}

.a2 input {
  width: 300px;
}

.card-list {
  display: flex;
  margin-top: 30px;
  gap: 50px;
}

.card {
  width: 400px;
  height: 300px;
  border-radius: 30px;
  border: 2px solid gray;
  padding: 25px;
}

.oc-date {
  display: flex;
  justify-content: space-between;
}

.open {
  width: 50px;
  border-radius: 25px;
  background-color: rgb(202, 217, 249);
  color: blue;
}

.close {
  width: 50px;
  border-radius: 25px;
  background-color: rgb(255, 200, 200);
  color: red;
}

.ment {
  width: 250px;
  height: 100px;
}

.judge {
  border-radius: 15px;
  background-color: gray;
  width: 50px;
}
.p {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  object-fit: cover;
  margin-top: 20px;
}

.name-person {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
